div {
    width: 600px;
    height: 40px;
    display: inline-block;
}

.rank{
    font-family: 'Song Myung', serif;
    font-size: 40px;
    background-color: rgb(133, 212, 168);
    padding:20px;
    margin:20px;
}

span{
    margin: 20px;
    font-family: 'Song Myung', serif;
    font-size: 60px;
    background-color: silver;
}

h1 span{
    color : royalblue;
}